<?xml version="1.0" encoding="UTF-8"?>
 
<configuration>
  
    <system.webServer>
 
<rewrite>
 
    <rules>
 
        <rule name="MainSite" stopProcessing="true">
 
            <match url=".*" />
 
            <conditions>
 
                <add input="{HTTP_HOST}" pattern="^(www.)?fastdietjournal.com" />
 
                <add input="{PATH_INFO}" pattern="^/MainSite/" negate="true" />
 
            </conditions>
 
            <action type="Rewrite" url="\MainSite\{R:0}" />
 
        </rule>
 
        <rule name="MobileSite" stopProcessing="true">
 
            <match url=".*" />
 
            <conditions>
 
                <add input="{HTTP_HOST}" pattern="^(m.)?additionaldomain.com" />
 
                <add input="{PATH_INFO}" pattern="^/MobileSite/" negate="true" />
 
            </conditions>
 
            <action type="Rewrite" url="\MobileSite\{R:0}" />
 
        </rule>
 
    </rules>
 
</rewrite>
 
    </system.webServer>
 
</configuration>