@{
    ViewBag.Title = "Reports";
    Layout = "~/Views/Shared/_Journal.cshtml";
}
<ul data-role="listview">
    <li>@Html.ActionLink("Entries Summary", "Index", "Summary")</li>
    <li>@Html.ActionLink("Weight Tracking", "Index", "WeightLoss")</li>
</ul>
