@{
    ViewBag.Title = "Conditions";
    Layout = "~/Views/Home/_Layout.cshtml";
}

<h2>Conditions of Use</h2>
<p><b><span style='font-size:9.0pt'>Introduction<o:p></o:p></span></b></p>



<p><span style='font-size:9.0pt'>These terms and conditions govern your use of this
website; by using this website, you accept these terms and conditions in
full.<span style='mso-spacerun:yes'>   </span>If you disagree with these terms
and conditions or any part of these terms and conditions, you must not use this
website. <o:p></o:p></span></p>



<p><span style='font-size:9.0pt'>This website uses cookies.<span
style='mso-spacerun:yes'>  </span>By using this website and agreeing to these
terms and conditions, you consent to our <span class=SpellE>FastDietJournal.com's</span>
use of cookies in accordance with the terms of <span class=SpellE>FastDietJournal.com's</span>
privacy policy.<o:p></o:p></span></p>



<p><b><span style='font-size:9.0pt'>License to use website<o:p></o:p></span></b></p>



<p><span style='font-size:9.0pt'>Unless otherwise stated, FastDietJournal.com and/or its
licensors own the intellectual property rights in the website and material on
the website.<span style='mso-spacerun:yes'>  </span>Subject to the license
below, all these intellectual property rights are reserved.<o:p></o:p></span></p>



<p><span style='font-size:9.0pt'>You may view, download for caching purposes only, and
print pages from the website for your own personal use, subject to the
restrictions set out below and elsewhere in these terms and conditions.<span
style='mso-spacerun:yes'>  </span><o:p></o:p></span></p>



<p><span style='font-size:9.0pt'>You must not:<o:p></o:p></span></p>


<ul style='font-size:9.0pt'>
    <li>republish material from this website (including republication on another website);</li>
    <li>sell, rent or sub-license material from the website;</li>
    <li>show any material from the website in public;</li>
    <li>reproduce, duplicate, copy or otherwise exploit material on this website for a commercial purpose;</li>
    <li>edit or otherwise modify any material on the website; or</li>
    <li><span class=GramE><span style='font-size:9.0pt'>redistribute</span></span><span style='font-size:9.0pt'> material from this website except for content specifically and expressly made available for redistribution.</li>
</ul>


<p><b><span style='font-size:9.0pt'>Acceptable use<o:p></o:p></span></b></p>



<p><span style='font-size:9.0pt'>You must not use this website in any way that causes,
or may cause, damage to the website or impairment of the availability or
accessibility of the website; or in any way which is unlawful, illegal,
fraudulent or harmful, or in connection with any unlawful, illegal, fraudulent
or harmful purpose or activity.<o:p></o:p></span></p>



<p><span style='font-size:9.0pt'>You must not use this website to copy, store, host,
transmit, send, use, publish or distribute any material which consists of (or
is linked to) any spyware, computer virus, Trojan horse, worm, keystroke
logger, rootkit or other malicious computer software.<o:p></o:p></span></p>



<p><span style='font-size:9.0pt'>You must not conduct any systematic or automated data
collection activities (including without limitation scraping, data mining, data
extraction and data harvesting) on or in relation to this website without <span
class=SpellE>FastDietJournal.com’s</span> express written consent.<o:p></o:p></span></p>



<p><span style='font-size:9.0pt'>You must not use this website to transmit or send
unsolicited commercial communications.<o:p></o:p></span></p>



<p><span style='font-size:9.0pt'>You must not use this website for any purposes related
to marketing without <span class=SpellE>FastDietJournal.com’s</span> express
written consent.<span style='mso-spacerun:yes'>  </span><o:p></o:p></span></p>



<p><b><span style='font-size:9.0pt'>Restricted access<o:p></o:p></span></b></p>



<p><span style='font-size:9.0pt'>Access to certain areas of this website is restricted.<span
style='mso-spacerun:yes'>  </span>FastDietJournal.com reserves the right to
restrict access to [other] areas of this website, or indeed this entire
website, at <span class=SpellE>FastDietJournal.com’s</span> discretion.<o:p></o:p></span></p>



<p><span style='font-size:9.0pt'>If FastDietJournal.com provides you with a user ID and
password to enable you to access restricted areas of this website or other
content or services, you must ensure that the user ID and password are kept
confidential.<span style='mso-spacerun:yes'>  </span><o:p></o:p></span></p>



<p><span style='font-size:9.0pt'>FastDietJournal.com may disable your user ID and
password in <span class=SpellE>FastDietJournal.com’s</span> sole discretion
without notice or explanation.<o:p></o:p></span></p>



<p><b><span style='font-size:9.0pt'>User content<o:p></o:p></span></b></p>



<p><span style='font-size:9.0pt'>In these terms and conditions, “your user content”
means material (including without limitation text, images, audio material,
video material and audio-visual material) that you submit to this website, for
whatever purpose.<o:p></o:p></span></p>



<p><span style='font-size:9.0pt'>You grant to FastDietJournal.com a worldwide,
irrevocable, non-exclusive, royalty-free license to use, reproduce, adapt,
publish, translate and distribute your user content in any existing or future
media.<span style='mso-spacerun:yes'>  </span>You also grant to FastDietJournal.com
the right to sub-license these rights, and the right to bring an action for
infringement of these rights.<o:p></o:p></span></p>



<p><span style='font-size:9.0pt'>Your user content must not be illegal or unlawful, must
not infringe any third party's legal rights, and must not be capable of giving
rise to legal action whether against you or FastDietJournal.com or a third
party (in each case under any applicable law).<span style='mso-spacerun:yes'> 
</span><o:p></o:p></span></p>



<p><span style='font-size:9.0pt'>You must not submit any user content to the website
that is or has ever been the subject of any threatened or actual legal
proceedings or other similar complaint.<o:p></o:p></span></p>



<p><span style='font-size:9.0pt'>FastDietJournal.com reserves the right to edit or
remove any material submitted to this website, or stored on <span class=SpellE>FastDietJournal.com’s</span>
servers, or hosted or published upon this website.<o:p></o:p></span></p>



<p><span style='font-size:9.0pt'>Notwithstanding <span class=SpellE>FastDietJournal.com’s</span>
rights under these terms and conditions in relation to user content, FastDietJournal.com
does not undertake to monitor the submission of such content to, or the
publication of such content on, this website.<o:p></o:p></span></p>



<p><b><span style='font-size:9.0pt'>No warranties<o:p></o:p></span></b></p>


<p><span style='font-size:9.0pt'>This website is provided “as is” without any
representations or warranties, express or implied.<span
style='mso-spacerun:yes'>  </span>FastDietJournal.com makes no representations
or warranties in relation to this website or the information and materials
provided on this website.<span style='mso-spacerun:yes'>  </span><o:p></o:p></span></p>



<p><span style='font-size:9.0pt'>Without prejudice to the generality of the foregoing
paragraph, FastDietJournal.com does not warrant that:<o:p></o:p></span></p>


<ul style='font-size:9.0pt'>
    <li>this website will be constantly available, or available at all; or</li>
    <li>information on this website is complete, true, accurate or non-misleading.</li>
</ul>


<p><span style='font-size:9.0pt'>Nothing on this website constitutes, or is meant to constitute,
advice of any kind.<o:p></o:p></span></p>



<p><b><span style='font-size:9.0pt'>Limitations of liability<o:p></o:p></span></b></p>



<p><span style='font-size:9.0pt'>FastDietJournal.com will not be liable to you (whether
under the law of contact, the law of torts or otherwise) in relation to the
contents of, or use of, or otherwise in connection with, this website:<o:p></o:p></span></p>


<ul style='font-size:9.0pt'>
    <li>to the extent that the website is provided free-of-charge, for any direct loss;</li>
    <li>for any indirect, special or consequential loss; or</li>
    <li>for any business losses, loss of revenue, income, profits or anticipated savings, loss of contracts or business relationships, loss of reputation or goodwill, or loss or corruption of information or data.</li>
</ul>


<p><span style='font-size:9.0pt'>These limitations of liability apply even if FastDietJournal.com
has been expressly advised of the potential loss.<o:p></o:p></span></p>



<p><b><span style='font-size:9.0pt'>Exceptions<o:p></o:p></span></b></p>



<p><span style='font-size:9.0pt'>Nothing in this website disclaimer will exclude or
limit any warranty implied by law that it would be unlawful to exclude or
limit; and nothing in this website disclaimer will exclude or limit <span
class=SpellE>FastDietJournal.com’s</span> liability in respect of any:<o:p></o:p></span></p>


<ul style='font-size:9.0pt'>
    <li>death or personal injury caused by <span class=SpellE>FastDietJournal.com’s</span> negligence;</li>
    <li>fraud or fraudulent misrepresentation on the part of FastDietJournal.com; or</li>
    <li>matter which it would be illegal or unlawful for FastDietJournal.com to exclude or limit, or to attempt or purport to exclude or limit, its liability. </li>
</ul>


<p><b><span style='font-size:9.0pt'>Reasonableness<o:p></o:p></span></b></p>



<p><span style='font-size:9.0pt'>By using this website, you agree that the exclusions
and limitations of liability set out in this website disclaimer are
reasonable.<span style='mso-spacerun:yes'>  </span><o:p></o:p></span></p>



<p><span style='font-size:9.0pt'>If you do not think they are reasonable, you must not
use this website.<o:p></o:p></span></p>



<p><b><span style='font-size:9.0pt'>Other parties<o:p></o:p></span></b></p>



<p><span style='font-size:9.0pt;mso-fareast-font-family:SimSun;mso-fareast-language:
AR-SA'>You accept that, as a limited liability entity, FastDietJournal.com has
an interest in limiting the personal liability of its officers and
employees.<span style='mso-spacerun:yes'>  </span>You agree that you will not
bring any claim personally against <span class=SpellE>FastDietJournal.com’s</span>
officers or employees in respect of any losses you suffer in connection with
the website.<o:p></o:p></span></p>



<p><span style='font-size:9.0pt'>Without prejudice to the foregoing paragraph, you agree
that the limitations of warranties and liability set out in this website
disclaimer will protect <span class=SpellE>FastDietJournal.com’s</span>
officers, employees, agents, subsidiaries, successors, assigns and
sub-contractors as well as FastDietJournal.com. <o:p></o:p></span></p>



<p><b><span style='font-size:9.0pt'>Unenforceable provisions<o:p></o:p></span></b></p>



<p><span style='font-size:9.0pt'>If any provision of this website disclaimer is, or is
found to be, unenforceable under applicable law, that will not affect the
enforceability of the other provisions of this website disclaimer.<o:p></o:p></span></p>



<p><b><span style='font-size:9.0pt'>Indemnity<o:p></o:p></span></b></p>



<p><span style='font-size:9.0pt'>You hereby indemnify FastDietJournal.com and undertake
to keep FastDietJournal.com indemnified against any losses, damages, costs,
liabilities and expenses (including without limitation legal expenses and any
amounts paid by FastDietJournal.com to a third party in settlement of a claim
or dispute on the advice of <span class=SpellE>FastDietJournal.com’s</span>
legal advisers) incurred or suffered by FastDietJournal.com arising out of any
breach by you of any provision of these terms and conditions, or arising out of
any claim that you have breached any provision of these terms and conditions.<o:p></o:p></span></p>



<p><b><span style='font-size:9.0pt'>Breaches of these terms and conditions<o:p></o:p></span></b></p>



<p><span style='font-size:9.0pt'>Without prejudice to <span class=SpellE>FastDietJournal.com’s</span>
other rights under these terms and conditions, if you breach these terms and
conditions in any way, FastDietJournal.com may take such action as FastDietJournal.com
deems appropriate to deal with the breach, including suspending your access to
the website, prohibiting you from accessing the website, blocking computers
using your IP address from accessing the website, contacting your internet
service provider to request that they block your access to the website and/or
bringing court proceedings against you.<o:p></o:p></span></p>



<p><b><span style='font-size:9.0pt'>Variation<o:p></o:p></span></b></p>



<p><span style='font-size:9.0pt'>FastDietJournal.com may revise these terms and
conditions from time-to-time.<span style='mso-spacerun:yes'>  </span>Revised
terms and conditions will apply to the use of this website from the date of the
publication of the revised terms and conditions on this website.<span
style='mso-spacerun:yes'>  </span>Please check this page regularly to ensure
you are familiar with the current version.<o:p></o:p></span></p>



<p><b><span style='font-size:9.0pt'>Assignment<o:p></o:p></span></b></p>



<p><span style='font-size:9.0pt'>FastDietJournal.com may transfer, sub-contract or
otherwise deal with <span class=SpellE>FastDietJournal.com’s</span> rights
and/or obligations under these terms and conditions without notifying you or
obtaining your consent.<o:p></o:p></span></p>



<p><span style='font-size:9.0pt'>You may not transfer, sub-contract or otherwise deal
with your rights and/or obligations under these terms and conditions.<span
style='mso-spacerun:yes'>  </span><o:p></o:p></span></p>



<p><b><span style='font-size:9.0pt'>Severability<o:p></o:p></span></b></p>



<p><span style='font-size:9.0pt'>If a provision of these terms and conditions is
determined by any court or other competent authority to be unlawful and/or
unenforceable, the other provisions will continue in effect.<span
style='mso-spacerun:yes'>  </span>If any unlawful and/or unenforceable
provision would be lawful or enforceable if part of it were deleted, that part
will be deemed to be deleted, and the rest of the provision will continue in
effect. <o:p></o:p></span></p>



<p><b><span style='font-size:9.0pt'>Entire agreement<o:p></o:p></span></b></p>



<p><span style='font-size:9.0pt'>These terms and conditions, together with the Privacy
Policy, constitute the entire agreement between you and FastDietJournal.com in
relation to your use of this website, and supersede all previous agreements in
respect of your use of this website.<o:p></o:p></span></p>



<p><b><span style='font-size:9.0pt'>These website terms and conditions<o:p></o:p></span></b></p>



<p><span style='font-size:9.0pt'>These website terms and conditions are based on a <span
class=SpellE>Contractology</span> </span><span lang=EN-GB><a
href="http://www.freenetlaw.com/free-website-terms-and-conditions/">website
terms and conditions</a></span><span lang=EN-GB style='font-size:9.0pt'>
document available at www.freenetlaw.com. Premium <span class=SpellE>Contractology</span>
forms include </span><span lang=EN-GB><a
href="http://www.contractology.com/precedents/website-privacy-policy.html">privacy
statement forms</a></span><span lang=EN-GB style='font-size:9.0pt'>.<o:p></o:p></span></p>
