@{
    ViewBag.Title = "Donate";
    Layout = "~/Views/Home/_Layout.cshtml";
}

<style type="text/css">
    .ui-icon-dietjournal-donate {
        background-image: url("https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif");
    }
</style>

<h3>Donations</h3>

<p>While this site is completely free to use, if you feel so inclined, you are welcome to donate any amount you feel is appropriate. Donations will help to ensure the site continues and is further enhanced.</p>
<p>Please use the provided button below to securely submit your donation.</p>

<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="7ADFQ5CQGJ47S">
<input name="submit" type="submit" value="Donate Now" data-icon="check"/>
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>
