@{
    ViewBag.Title = "Privacy";
    Layout = "~/Views/Home/_Layout.cshtml";
}

<h2>Privacy</h2>

<div>

<p><span>Your privacy is important to FastDietJournal.com.<span
style='mso-spacerun:yes'>  </span>This privacy statement provides information
about the personal information that FastDietJournal.com collects, and the ways
in which FastDietJournal.com uses that personal information.</span></p>

<p><b><span>This privacy statement</span></b></p>

<p><span>This privacy statement is based on a <span>Contractology</span> </span><span><a
href="http://www.freenetlaw.com/free-privacy-statement/">privacy statement</a></span><span
lang=EN-GB > document available at www.freenetlaw.com.
Premium precedents available on the <span >Contractology</span>
website include </span><span><a
href="http://www.contractology.com/precedents/eula.html">end user terms and
conditions forms</a></span><span >.</span></p>

<p><b><span>Personal information collection</span></b></p>

<p><span>FastDietJournal.com may collect and use the following kinds of personal information: </span></p>

<ul>
    <li>[information about your use of this website]</li>

    <li>[information that you provide using for the purpose of registering with the website]</li>

    <li>[information about transactions carried out over this website]</li>

    <li>[information that you provide for the purpose of subscribing to the website services and]</li>

    <li>[<span class=GramE>any</span> other information that you send to FastDietJournal.com.]</li>
</ul>

<p><b><span>Using personal information</span></b></p>


<p><span>FastDietJournal.com may use your personal information
to: </span></p>

    <ul>
        <li>[administer this website;]</li>

        <li>[personalize the website for you;]</li>

        <li>[enable your access to and use of the website services;]</li>

        <li>[publish information about you on the website;]</li>

        <li>[send to you products that you purchase;]</li>

        <li>[supply to you services that you purchase;]</li>

        <li>[send to you statements and invoices;]</li>

        <li>[collect payments from you; and]</li>

        <li>[<span class=GramE>send</span> you marketing communications.]</li>
    </ul>

<p><span>Where FastDietJournal.com discloses your personal
information to its agents or sub-contractors for these purposes, the agent or
sub-contractor in question will be obligated to use that personal information
in accordance with the terms of this privacy statement. </span></p>


<p><span>In addition to the disclosures reasonably necessary for
the purposes identified elsewhere above, FastDietJournal.com may disclose your
personal information to the extent that it is required to do so by law, in
connection with any legal proceedings or prospective legal proceedings, and in
order to establish, exercise or defend its legal rights.</span></p>


<p><b><span>Securing your data</span></b></p>


<p><span>FastDietJournal.com will take reasonable technical and
organisational precautions to prevent the loss, misuse or alteration of your
personal information. </span></p>


<p><span>FastDietJournal.com will store all the personal
information you provide [on its secure servers]. </span></p>


<p><span>[Information relating to electronic transactions
entered into via this website will be protected by encryption technology.]</span></p>

<p><b><span>Cross-border data transfers</span></b></p>


<p><span>Information that FastDietJournal.com collects may be
stored and processed in and transferred between any of the countries in which FastDietJournal.com
operates to enable the use of the information in accordance with this privacy
policy.</span></p>


<p><span>[In addition, personal information that you submit for
publication on the website will be published on the internet and may be
available around the world.]</span></p>


<p><span>You agree to such cross-border transfers of personal
information.</span></p>

<p><b><span>Updating this statement</span></b></p>


<p><span>FastDietJournal.com may update this privacy policy by
posting a new version on this website.<span style='mso-spacerun:yes'>  </span></span></p>


<p><span>You should check this page occasionally to ensure you
are familiar with any changes.<span style='mso-spacerun:yes'>  </span></span></p>


<p><b><span>Other websites</span></b></p>


<p><span>This website contains links to other websites.<span
style='mso-spacerun:yes'>  </span></span></p>


<p><span>FastDietJournal.com is not responsible for the privacy
policies or practices of any third party.</span></p>


<p><b><span>Contact FastDietJournal.com</span></b></p>


<p><span>If you have any questions about this privacy policy or FastDietJournal.com’s
treatment of your personal information, please write:</span></p>

    <ul>
        <li>by email to <a href="mailto:support@fastdietjournal.com">support@fastdietjournal.com</a> or </li>
        <li>by post to 1863 Cedardale Lane, Knoxville, TN 37932.</li>
    </ul>

</div>