@model Dictionary<string,IEnumerable<DietJournal.Web.Models.FoodFavoriteResultModel>>
@{
    ViewBag.Title = "Food Favorites";
    Layout = "~/Views/Shared/_Journal.cshtml";
}

<script type="text/javascript">

    function deleteEntry(id) {
        $.mobile.showPageLoadingMsg();
        $.ajax({
            url: "/Food/DeleteFavorite",
            type: "post",
            data: "id=" + id,
            success: function (data) {
                $.mobile.hidePageLoadingMsg();
                $.mobile.changePage($.mobile.activePage.data('url'),
                {
                    transition: "none",
                    reloadPage: true
                });
            }
        });
    }

</script>

@if (Model != null)
{
    <ul data-role="listview">
    @foreach (var entry in Model)
    {
        <li data-role="list-divider">@entry.Key</li>
        foreach (var favorite in entry.Value)
        {
        <li data-theme="d"><a>@favorite.Title</a><a href="#" onclick="deleteEntry(@favorite.Id)" data-icon="delete" data-theme="a">Delete</a></li>
        }
    }
    </ul>
}
