@model DietJournal.Web.Models.SupplementFavoriteSelectionModel
@{
    ViewBag.Title = "Select Favorite";
    Layout = "~/Views/Shared/_Dialog.cshtml";
}

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>


<script type="text/javascript">

    function onSearchResults(results) {
        $("#searchResults").html(results).trigger('create');
        $.mobile.hidePageLoadingMsg();
    }

    function performSearch() {
        $.mobile.showPageLoadingMsg();
        $.ajax({
            url: $("#searchForm").attr("action"),
            type: "post",
            data: $("#searchForm").serialize(),
            success: onSearchResults
        });
    }

    $(document).ready(function () {
        performSearch();
    });

</script>


 @using (Html.BeginForm("FavoriteSearch", "Supplements", FormMethod.Post, new { id = "searchForm" }))
 {
     <ul data-role="listview" data-theme="d" data-inset="true">
        <li data-role="list-divider">Favorite Search</li>
        <li>
            @Html.TextBox("Name", "", new { placeholder = "Name", onKeyUp = "performSearch()" })
        </li>
     </ul>
 }

@using (Html.BeginForm("SelectFavorite", "Supplements", FormMethod.Post, new { id = "favoriteForm" }))
{
    @Html.HiddenFor(m => m.ConsumedDate)
    <div id="searchResults"></div>
}
