.footer
{
    text-align:center
}

.footer a
{
    font-size:small;
    margin:3px;
}

legend
{
    font-weight:bold;
}
.directions
{
    font-style:italic;
}
.validation-summary-errors, .field-validation-error
{
    color: Red;
}